<%# 评论%>
<div class="comment">

    <% if(theme.disqus.comment && theme.disqus.shortname ){ %>
    <div id="disqus_thread"></div>
    <script>
        (function () {
            var d = document,
                s = d.createElement('script');
            s.src = 'https://' + '<%- theme.disqus.shortname %>' + '.disqus.com/embed.js';
            s.setAttribute('data-timestamp', +new Date());
            (d.head || d.body).appendChild(s);
        })();
    </script>


    <% } else if (theme.leancloud.comment && theme.leancloud.app_id && theme.leancloud.app_key ){ %>

    <div id="comment">
    </div>

    <script src="//cdn1.lncld.net/static/js/3.0.4/av-min.js"></script>

    <script src='//unpkg.com/valine@v1.1.8-beta/dist/Valine.min.js'></script>

    <script>
        new Valine({
            el: '#comment',
            notify: false,
            verify: false,
            app_id: '<%- theme.leancloud.app_id %>',
            app_key: '<%- theme.leancloud.app_key %>',
            path: window.location.pathname,
            avatar: 'mm',
            guest_info: ['nick', 'mail']
        });
    </script>
    <% } %>
</div>