
<% var donate = theme.donate %>

<span class="donate-btn">
	<span class="iconfont icon-donate"></span>
</span>

<div id="donate-box" class="sildeUpMin" >

	<span class="donate-cancel iconfont icon-cancel"></span>

	<div class="donate-img-box">
		<img id="donate-qr-wechat" class="noLazyLoad donate-img" src="<%- url_for( donate.wechat ) %>"  alt="No Donate Image!">	
		<img id="donate-qr-alipay" class="noLazyLoad donate-img" src="<%- url_for( donate.alipay ) %>"  alt="No Donate Image!">	
	</div>

	<span class="donate-word"><%- donate.word %></span>

	<div class="donate-list">
		<span class="iconfont icon-donate-wechat"></span>
		<span class="iconfont icon-donate-alipay"></span>
	</div>

</div>
