
<% if (post.photos && post.photos.length){ %>
	
	<div class="gallery">
		<% for( i in post.photos){%>
			<div class="image" 	
			style="background-image: url(<%- url_for(post.photos[i])%>);"></div>
		<%}%>  
	</div>
<%}%>