<%# 文章页面头部 %>
<div class="header">
		<p class="title">	
			<%= page.title|| __('Untitled') %>
		</p>
		<div class="info">	
			<time>
				<%= date(page.date,  "MMM DD, YYYY") %>
			</time>

			<%  var length = raw_length(post.content) %>
			<% if ( length > 0 ){%>
				<i class="iconfont icon-words"></i>
				<span class="words"><%= length %>
				</span>
			<% }%>
		</div>
</div>