<ul class="share">
	<% for ( i in theme.share_item){ %>   			             
        <li class="iconfont 
		icon-share-<%-theme.share_item[i]%> 
		-mob-share-<%-theme.share_item[i]%> 
		item"
		></li>		
   	<% } %>   
</ul>	

<script id="-mob-share" 
src="https://f1.webshare.mob.com/code/mob-share.js?appkey=21d601593a1de"></script>