<% if(theme.toc && !page.hide_toc ){  %>
	<div class="toc-container">
			<div class="sidebar">
			<h4 class="toc-title"><%= __('Contents')%></h4>
			<div class="toc-list">
				<%- toc(page.content,{class:'toc-inner' , list_number:false}) %>
			</div>
		</div>
	</div>
<% } %>