<% if(theme.toc && !page.hide_toc ){  %>
<div class="toc">
	<p class="toc-title">
		<%= __('Contents')%>
	</p>
	<div class="toc-list">
		<%- toc(page.content,{class:'toc-inner' , list_number:false}) %>
	</div>
</div>
<% } %>