// porfile

.profile {
    margin-bottom: 28px;
    text-align: center;
    border-bottom: 0.5px solid $c-shallow-line;

    .avatar {
        @extend .hoverOpacity;
        display: inline-block;
        width: 92px;
        height: 92px;
        padding: 3px;
        border: 1px solid $c-shallow-line;
        border-radius: 50%;
        transition: opacity .4s ease-in-out;

        &:hover {
            opacity: 0.8;
        }
    }

    .author {
        margin: 4px 0;
        font-size: 1rem;
        color: #4a4a4a;
    }

    .social {
        margin: 10px 0;

        .links {
            margin-right: 1.5px;
            font-size: 1.3rem;
            color: #101010;
            @extend .hoverReverse;

            .iconfont {
                font-size: inherit;
            }
        }

    }
}

// article

.article {
    margin-bottom: 48px;
    padding: 1.5rem 1.5rem;
    border-bottom: 1px solid $c-shallow-line;

    .article-header {
        .title {
            @extend .hoverReverse;
            display: block;
            font-size: 23px;
            font-weight: 400;
            line-height: 1.4;
            margin-bottom: 1rem;
            color: #333
        }

        .meta {
            margin: 10px 0 0;
            font-size: 0.85rem;
            color: #666
        }


    }

    .article-excerpt {
        margin: 2rem 0 1.5rem;
    }
    .article-tags,
    .article-categories {
        display: inline-block;
        .link {
            @extend .hover;
            margin-right: 6px;
            font-size: 0.85rem;
            text-decoration: underline;
        }

        .iconfont {
            color: #000;
        }
    }

    .article-bottom {
        text-align: center;
        margin: 2rem auto 0 auto;
        height: 44px;
        line-height: 44px;

        .readmore {
            font-size: 0.8rem;
            padding: 8px 12px;
            border-radius: 4px;
            border: 1px solid $c-deep-line;
            color: rgba(51, 51, 51, .7);
            font-weight: 700;
            @extend .hoverReverse;

            &:hover {
                border: 1px solid $c-hover;
            }

            transition: all 0.2s ease-in-out;
            -webkit-transition: all 0.2s ease-in-out;
            -moz-transition: all 0.2s ease-in-out;
            -ms-transition: all 0.2s ease-in-out;
            -o-transition: all 0.2s ease-in-out;
        }
    }


    .thumb {
        margin: 0.5rem 0;
        width: 104%;
        height: 24rem;
        position: relative;
        top: 0;
        left: -2%;

        .banner {
            position: relative;
            width: 100%;
            height: 100%;
            background-size: 100% 100%;
            background-position: center center;
            background-repeat: no-repeat;
            border-radius: 3px;
            -webkit-border-radius: 3px;
            -moz-border-radius: 3px;
            -ms-border-radius: 3px;
            -o-border-radius: 3px;
        }
    }
}