.page-name {
    margin-bottom: 1rem;
    text-align: center;

    .name {
        font-size: 1rem;
    }

    .iconfont {
        font-size: 1.25rem;
        margin-right: 12px;
        color: #333;
    }
}