//
// gallery.js
//  

.gContainer
  position fixed 
  left 0
  top 0
  width 100%
  height 100% 
  z-index 999999
  background-color rgba(255, 255, 255,.9)
.gBox 
  position absolute
  left 50%
  top 50%
  width 0
  height 0
  margin-left 0
  margin-top 0
  background #fff
  padding 4px
  border-radius 4px
.gImg
  position absolute
  display block
  box-sizing border-box
  border none
  top 50%
  left 50%
  width 0
  height 0
  margin-left 0
  margin-top 0

//animation
@keyframes gSlideDown{
    0%{   
    transform translateY(-15px)   
    opacity 0.7
  }
    100%{
    opacity 1
    transform translateY(0px) 
  }
}

.gSlideDown
  animation-fill-mode: forwards
  animation-name: gSlideDown
  animation-duration: .2s  
  animation-iteration-count: 1 
  animation-delay: 0s