// 文章排版
.typo
  font-size 15px
  line-height 2
  color #0d0d0d
.typo h1,.typo h2,.typo h3,.typo h4,.typo h5,.typo h6
  margin 2rem 0 0.8rem 0
  padding 0
  font-weight normal
  list-style none
  color #000
.typo h1
    font-size 36px
.typo h2
    font-size 32px
.typo h3
    font-size 26px
.typo h4
    font-size 19px
.typo h5
    font-size 16px
.typo h6
    font-size 16px
.typo strong
  font-weight 500
.typo hr
  margin-top 22px 0
  border 0
  border-top 1px solid rgba(102,130,153,0.1)
.typo p 
  line-height 30px
  margin-bottom .8em
  color #232323
.typo img 
  margin 1.2em 0 
.type del
  opacity .5
.typo ul,.typo ol
  margin 12px 0
  padding-left 16px
.typo ul li,.typo ol li
  margin 4px 0
  padding-left 8px 
.typo ul li 
  list-style disc
.typo ol li 
  list-style decimal
  // list-style-type none
  // position relative
  // &:before
  //   content "•"
  //   display inline-block
  //   margin-right 12px
  //   font-size 0.9rem
  //   font-weight 400
  //   color #000
.typo ul p,.typo ol p
  margin 0

.typo a
  font-size 0.9rem
  color $thr-clr !important  
  text-decoration underline
  font-family 'Arial'
  &:hover    
    color $sub-clr !important 

.typo blockquote
  display block
  letter-spacing .4px
  font-size 15px
  padding 0 12px
  margin 2rem 0 
.typo blockquote p  
  margin  0
  padding-left 10px
  border-left 3px solid #eee



.typo table 
  margin 16px 0
  word-wrap break-word
  border-collapse collapse
  border-spacing 0
  border-radius 2px

.typo table tr:nth-child(even)  
  background #fafafa
  
.typo > table th
  font-weight 500
.typo > table th,.typo > table td
  border 1px solid #ddd
  padding .4rem 1rem
  margin 28px 0
.typo table dt,.typo table dd
  margin-bottom 10px
 