@import "_utils/_variables"
@import "_utils/_funcs"
@import "_utils/_extend"

@import "_utils/typo"
@import "_utils/anim"


body
  clearfix()
  width: 100%

clearfix() {
  &:before,
  &:after {
    content " "
    display table
  }
  &:after {
    clear both
  }
}

fixed-center(width, height)  
  position fixed
  width width
  height height
  top 50%
  left 50%
  margin-top height * -0.5
  margin-left width * -0.5
  border-radius 4px 
  z-index 999  
  background $bgr