<section class="fadeIn slideDownMin">

	<% var name =  __('Page.About') %>
  	<%- partial('_partial/page-name',{icon:'icon-page-about',name: name }) %>


	<div class="typo">
		<%- page.content %>
	</div>

</section>