<% var since = theme.footer.since %>
<% var year = date(new Date(), 'YYYY') %>

<footer class="footer">
	<div class="inner">
		<div class="copyright">
			&copy;
			<% if (since < year){%>
			<%= since %> -
			<% }%>
			<%= year %>
			<%= theme.footer.author || theme.profile.author || config.author %>

			<br/>
			By <a href="https://hexo.io" target="_blank">Hexo</a> Theme <a href="https://github.com/Lemonreds/hexo-theme-Nayo" target="_blank">Nayo</a>
		</div>
	</div>
</footer>