<header class="header">
	
  <nav class="header-nav">        
   
    <span class="iconfont icon-menu mobile-toggle"></span>   	

    <div class="header-menu">          
        <% for (var i in theme.menu){ %>      
            <% if ( i  == 'search' ){%>
              <a class="iconfont icon-menu-search header-menu-link" id="header-menu-search"></a>
            <% } else {%>
              <a class="header-menu-link" id="header-menu-<%-i%>" href="<%- url_for(theme.menu[i]) %>"><%= __('Menu.'+i) %></a>     
            <% } %>
      <% } %>          
    </div>  
    
  </nav>
</header>