<div class="none" id="search">
    <div class="header">
        <input type="text" 
        placeholder="<%= __('Search.input_words') %>" 
        id="search-input" 
        class="input" />
        
        <i id="search-cancel" class="iconfont icon-cancel"></i>
    </div>

    <div id="search-result" class="result"></div>
</div>