<% if ( theme.menu.search ){%>
    <div class="search-container sildeUpMin">
        <div class="search-header">
            <input type="text" placeholder="<%= __('Search.input_words') %>" id="search-input" class="search-input" />
            <span class="search-cancel">
                <i class="iconfont icon-cancel" />
            </span>
        </div>
        <div id="search-result" class="search-result"></div>
    </div>
 <% }%>