
// from hexo-theme-next

  $code-font-size         = 13.5px
  $number-font-size       = 12px
  $code-letter-spacing    = .5px
  $line-height-code-block = 1.75

  $code-font-family       = 'consolas','Arial'
  $number-font-family     = 'Trebuchet MS','sans-serif','Arial'
  
  $highlight-foreground   = #ffffff
  $highlight-marked       = #727272 
 
  $highlight-deletion     = #fdd
  $highlight-addition     = #dfd
  $highlight-background   = #fcfcfc
  $highlight-current-line = #ebebeb
  $highlight-selection    = #d6d6d6
  $highlight-foreground   = #262626
  $highlight-comment      = #8e908c

  $highlight-red          = #E24C38
  $highlight-orange       = #e78c45
  $highlight-yellow       = #e7c547
  $highlight-green        = #718c00
  $highlight-aqua         = #3e999f
  $highlight-blue         = #4271ae
  $highlight-purple       = #8959a8
  $highlight-gray         = #a6a6a6 

  $highlight-border-color   = #fff
  $highlight-gutter-color   = #949da0
  $highlight-gutter-bgcolor = #F7F8FA