
// from hexo-theme-next

  $code-font-size         = 14px
  $number-font-size       = 12px

  $code-font-family       = 'consolas'
  $number-font-family     = 'Arial', 'sans-serif'
  
  $highlight-foreground   = #ffffff
  $highlight-marked       = #727272 
 
  $highlight-deletion     = #fdd
  $highlight-addition     = #dfd
  $highlight-background   = #FCFDFD
  $highlight-current-line = #ebebeb
  $highlight-selection    = #d6d6d6
  $highlight-foreground   = #4d4d4c
  $highlight-comment      = #8e908c

  $highlight-red          = #E24C38
  $highlight-orange       = #e78c45
  $highlight-yellow       = #e7c547
  $highlight-green        = #718c00
  $highlight-aqua         = #3e999f
  $highlight-blue         = #4271ae
  $highlight-purple       = #8959a8
  $highlight-gray         = #a6a6a6 

  $highlight-gutter-color   = #606a6d
  $highlight-gutter-bgcolor = #FCFDFD