*  
  box-sizing border-box

html,body
  height 100%
  width 100%
  background $bgr
  letter-spacing .4px
  margin 0
  padding 0 

body
  overflow-x hidden
  font 300 $font-size $fonts


@media mq-mobile 
  html 
    font-size 15.5px
@media mq-tablet
  html
    font-size 16px
@media mq-middle 
  html 
    font-size 16.5px
@media mq-normal
  html 
    font-size 17px
@media mq-desktop 
  html
    font-size 17.5px 
  
a
 text-decoration none   
 transition all .2s ease-in-out
 &:link,&:visited,&:active 
   color rgba(0,0,0,.75)
 &:hover
   color $thr-clr
   
img
  display block
  max-width 100% 
  margin 15px auto 
  opacity .95
  border-radius 2px  
     
time
  font-size 0.825rem  
  &:hover   
    color $thr-clr


.page-title 
   display block  
   text-align center  
   margin-bottom 1.5rem
   font-size 1.15rem
   letter-spacing .6px
   color rgba(0,0,0,.5)
  
.mask
  display none
  position fixed
  top 0
  left 0
  width 100%
  height 100%
  z-index 998
  background-color rgba(0,0,0,0.04)

#backTop   
    opacity 0
    position fixed   
    cursor pointer
    z-index 999
    bottom 8%
    right 2%
    padding 2px 8px    
    border-radius 50%
    width 2.4rem
    height 2.4rem
    text-align center
    &:hover
      color $thr-clr    
    @media mq-mobile
      right 1rem
      bottom 56px
      right 28px

.container  
  padding 2rem 1.8rem 0 1.8rem
  min-height 60vh 
  
.main   
    margin 0 auto
    width 54%    
    @media mq-middle
      width 100%    
    @media mq-tablet
      width 98% 
    @media mq-middle 
      width 80%
    @media mq-normal
      width 56% 
    @media mq-desktop 
      width 54%