
/**
* @see http://www.iconfont.cn
*/ 
// @import "//at.alicdn.com/t/font_435259_ns4mllc13j.css";

@font-face 
    font-family 'iconfont'
    src url('./fonts/iconfont.eot')
    src url('./fonts/iconfont.eot?#iefix') format('embedded-opentype'),
    url('./fonts/iconfont.woff') format('woff'),
    url('./fonts/iconfont.ttf') format('truetype'),
    url('./fonts/iconfont.svg#iconfont') format('svg')


.iconfont      
    font-family "iconfont" !important
    font-size .95rem  
    font-style normal
    -webkit-font-smoothing antialiased
    -webkit-text-stroke-width 0.2px
    -moz-osx-font-smoothing grayscale

    
.icon-home
    &:before 
        content "\e7a5"
.icon-archives
    &:before 
        content "\eb4d"
.icon-tags
    &:before 
        content "\e64d"
.icon-about
    &:before 
        content "\e610"
.icon-search
    &:before 
        content "\e60f"
.icon-toc  
    &:before 
        content "\e689"
    font-size 16px 
.icon-menu  
    &:before 
        content "\e6ab"
    font-size 1.25rem  
.icon-no-menu
    &:before 
        content "\e7a4"
    font-size 1.25rem 
.icon-tag-inner
    &:before 
        content "\e7a2"
    font-size 15px
.icon-date
    &:before 
        content "\e60d"
    font-size .8rem    
.icon-words
    &:before 
        content "\e696"
    font-size 1.1rem
.icon-eye
    &:before 
        content "\e66b"
    font-size 1.1rem
.icon-tag 
    &:before 
        content "\e624"
.icon-category
    &:before 
        content "\e612"
.icon-tag,.icon-category
    font-size .9rem   
.icon-posts
    &:before 
        content "\e6b4"
    font-size 1.2rem
.icon-open
    &:before 
        content "\e62e" 
.icon-close
    &:before 
        content "\e62d" 
.icon-open,.icon-close
    font-size 0.8em
.icon-cancel
    &:before 
        content "\e7a3" 
    cursor pointer
.icon-share 
    &:before 
        content "\e98b" 
.icon-donate
    &:before 
        content "\e613" 
.icon-share ,.icon-donate
    font-size .9rem
.icon-donate-wechat 
    &:before 
        content "\e644"        
.icon-donate-alipay  
    &:before 
        content "\e616"      
.icon-donate-wechat ,.icon-donate-alipay  
    font-size 1.6rem 
    cursor pointer
.icon-backtotop  
    font-size 2.2rem
    &:before 
        content "\e697"  
.icon-location
    &:before 
        content "\e63f"
    font-size .825rem
    margin 0 5px     
.icon-Github
    &:before 
        content "\e667"
.icon-Zhihu
     &:before
        content "\e6d1"
.icon-Weibo
     &:before
        content "\e74e"
.icon-SegmentFault
     &:before
        content "\e74d"        
.icon-Facebook
     &:before
        content "\e6e2"        
.icon-Twitter
     &:before
        content "\e629"
.icon-Instagram
     &:before
        content "\e607"        
.icon-LinkedIn
     &:before
        content "\e64b"  
.icon-Csdn
     &:before
        content "\e60e" 
.icon-Neteasemusic
     &:before
        content "\e600"  
.icon-share-qq
     &:before
        content "\e61e"  
.icon-share-weixin
     &:before
        content "\e63e"  
.icon-share-weibo
     &:before
        content "\e74e"  
.icon-share-douban
     &:before
        content "\e7a1"  
.icon-share-facebook
     &:before
        content "\ee75"  
.icon-share-twitter
     &:before
        content "\e606"  
.icon-share-tumblr
     &:before
        content "\e87b"  
.icon-share-google
     &:before
        content "\e611"  
.icon-nofound 
     &:before
        content "\e67a"  
.icon-star     
     &:before
        color rgba(0,0,0,.4)
        content "\e608"       
        font-size 2px
        padding 0 5px
        margin-bottom 5px
.icon-left 
    font-size 12px
    &:before
        content "\e660" 
.icon-right 
    font-size 12px
    &:before
        content "\e65f"  