.article 
    opacity 0
    margin-bottom 48px
    padding 14px 0  
    &:after
        content ""
        position absolute
        left 1%
        bottom -16px
        width 98%
        height 1px
        background-color $line-shallow-clr 
    &  .article-header    
        padding 1rem 1.5rem 0 
        & span
            color rgba(0,0,0,0.7)  
            font-size .825rem     
        & .article-title
            display block   
            margin-bottom .5rem   
            font-size 30px
            font-weight 400 
            line-height 1.4
            color #333
            &:link,&:visited,&:active 
                color rgba(0,0,0,.75)
            &:hover
                color $thr-clr
        & .article-meta  
            display flex
            height 38px 
            align-items center
            font-size 0.7rem
            font-weight 400
            & > span
                display inline-block
                padding 8px 6px           
            & > .article-tag        
                @extend $item   
                font-size 0.75rem  
                &:link,&:visited,&:active 
                    color rgba(0,0,0,.7)
                &:hover
                    color $thr-clr
    & .article-excerpt
        margin .4rem 1.4rem  
    & .article-excerpt 
        & h1,& h2,& h3,& h4,& h5,& h6
            margin .8em 0 
            color #555
        & p
            margin 0 0 .8em
            color #555
    & .article-bottom
        text-align center
        margin 4rem auto 0 auto
        height 44px         
        & .article-readmore  
            @extend $fade      
            @extend $blod  
            font-size .8rem      
            padding 8px 12px 
            border-radius 4px
            border 1px solid $line-clr
            box-sizing content-box
            text-align center
.thumb
    width 100%
    display flex
    @media mq-mobile 
      flex-wrap wrap
      margin .5rem
    @media mq-mobile 
      height 12rem
    @media mq-tablet
      height 22rem
    @media mq-middle 
      height 23rem
    @media mq-normal
      height 24rem
    @media mq-desktop 
      height 26rem

.banner    
    position relative
    height 100%
    width 100%
    background-size 100% 100%
    background-position center center
    background-repeat no-repeat
    border-radius 3px
    cursor pointer
   

.gallery-thumb 
    margin 0 2px  
    display flex   
    @media mq-mobile 
      flex-wrap wrap
      margin .5rem
      
.gallery  
    border-radius 2px    
    box-sizing border-box
    width 25%
    margin 0 .1rem   
    background-size cover
    background-position center
    background-repeat no-repeat
    cursor pointer
    &:before 
        content ""
        display inline-block
        padding-bottom 100%
    @media mq-mobile
      width 45%
      margin-bottom .1rem  