.header
  width 100%
  transition all .4s
  box-shadow 0 1px 1px rgba(0, 0, 0, .05)
  @media mq-mobile 
    box-shadow none
.header-inner   
  margin 0 auto  
  height 70px
  line-height 70px  
  @media mq-middle
      max-width 98%    
  @media mq-tablet
      max-width 98% 
  @media mq-middle 
      max-width 98%
  @media mq-normal
      max-width 50% 
  @media mq-desktop 
      max-width 50%

.header-logo
    float left
    & .header-logo-img
        margin 5px 0
        width 60px
        height 60px
        border none
        opacity .9
        @media mq-mobile 
            display none
.header-menu
    text-align center 
    float right
    height 100%

.header-menu-link  
    @extend $oneline    
    margin-right 1.65rem
    font-size 12px
    display inline-block 
    letter-spacing 1px 
    cursor pointer
    & .header-menu-title
        margin-left 4px
        font-size 13px
    & i
        width 44px
        font-size 1.2rem
.header-menu-link:last-child
    margin-right 0


//---------js  
.header-static
  position static
  background-color $bgr
  box-shadow 0 1px 1px rgba(0, 0, 0, .05)
.header-fixed
  position fixed
  z-index 999
  top 0
  left 0
  opacity .96
  background-color $bgr
  transition all .6s   
  box-shadow 0 2px 2px rgba(0, 0, 0, .1)
.header-menu-active  
  color $thr-clr !important   
.header-title
  font-size 1.4rem



.slide-right
	transform translateX(200px)
	transition 0.5s
.slide-left
	transform translateX(0px)
	transition 0.5s
	
.mobile-toggle
	display none
	position relative 
	float left  
	margin-left 12px

.mobile-menu
	display none
	position fixed
	left 0
	top 0    
	width 200px
	height 100%
	background-color $bgr
	z-index 999  
	padding-top 46px
	text-align center

.mobile-menu-link 
	display block
	padding 18px 16px
	line-height 1


.mobile-menu-icon 
	margin 30px auto
	width 40px     
	padding 4px
	border 1px solid $line-clr
	border-radius 5px