.profile
	border-bottom .5px solid $line-clr
	margin-bottom 28px
	text-align center	
	& >.avatar	
		display block
		width 92px
		height 92px
		padding 3px
		border 1px solid $line-clr
		border-radius 50%  	
		box-shadow 0 2px 2px rgba(0,0,0,0.06)
		transition all .1s ease-in
		cursor pointer
		@media mq-normal
			width 96px
			height 96px
		@media mq-desktop 
			width 98px
			height 98px
		&:hover
			opacity .85	
	& >.author
		margin 0
		text-align center	
		font-size 1rem
		color  #4a4a4a	
		margin-bottom 4px
	& >.social	
		margin-bottom 10px
		& a
			padding-right 1.5px 
		& i
			font-size 1.3rem