.profile
	border-bottom .5px solid $line-clr
	margin-bottom 40px 
	padding-bottom 8px
	text-align center	
	& .avatar	
		display block
		width 92px
		height 92px
		padding 3px
		border 1px solid $line-clr
		border-radius 50%  	
		box-shadow 0 2px 2px rgba(0,0,0,0.06)
		transition all .1s ease-in
		cursor pointer
		&:hover
			opacity .85	
	& >.author
		margin 0
		text-align center	
		font-size 16px
		color  rgba(0,0,0,0.85)		
	& >.social	
		& a
			padding-right 1.5px 
			& i
				font-size 1.35rem