.item		
	margin 2rem 0
	padding 0 1rem
	display flex
	justify-content center	
	align-items center
	min-height 20px
		
.item-date			
	width 25%
	font-size .85rem
	text-align center
	color $main-clr

.item-title		
	width 70%	
	font-size 1rem	
	&:hover		
		color $thr-clr