//
// tag 
//
.tag-wrap	
	@extend $tags  
	display inline-block		
	margin .4rem .3rem 	
	padding  2px 12px	
	&>.tag-name
		font-size 0.9rem
	&>.tag-count
		font-size 0.825rem

//
// archive
//
.archive-part	
	margin-bottom 1.25rem 	
	text-align center	
	& >.archive-part-item
		padding 4px 6px
		font-size 1rem
		color #666
		background-color rgba(#668099,0.055)
		border-radius 4px
.archive-item			
	display flex
	position relative
	align-items center
	padding 10px 36px
	@media mq-mobile
		padding 8px 20px
	&>.archive-time
		width 30%
		font-size 0.8rem
		padding-left 36px
		color rgba(0,0,0,.65)
		text-align center
		@media mq-mobile
			padding 0
	&>.archive-title
		width 70%
		font-size 1.05rem
		display inline-block
		text-align left