//
// mobile
// 

//type
h1,h2,h3
	margin 16px 0
h4,h5,h6
	margin 10px 0
h1
	font-size 22px
h2
	font-size 18px
h3
	font-size 16px
h4
	font-size 16px
h5,h6
	font-size 16px
p
	margin 10px 0
	font-size 12px	
	line-height 1.25


 
.container	
	display block	
.container,.container-inner
	clear both
	width 100%	
	margin 0.5rem 0 
	padding 0 6px

#header
	width 100%
.header-inner
	max-width 100%		
	height 50px
	position relative
	justify-content  flex-start
.header-menu
	display none
.mobile-toggle
	display inline



.profile .author
	margin .5em 0 

.post-title
	font-size 1.45rem
	margin -1rem 0 1.8rem 	
.post-info
	width  100%
	margin 0		
#donate-box
	width 94%
	top 50%
	left 3%
	margin-left 0
	border-radius 6px	

.article
	margin 10px 0 36px 0
	padding 0
	&>.article-header
		margin 0
		padding 0 
		text-align left
		& time
			font-size 14px
	&>.article-title
		margin 10px 0 
		font-size 18px
	&>.article-excerpt
		margin 1.5rem 0 0 0
		padding 0
		& p
			margin 12px 0		

      

//item
.item 
	margin .5rem 8px
	padding 0
.item-date , .item-title
	width 100%
	display block
	clear both	
	text-align left
.item-title
	max-width 100%
	width 100%
	margin 8px 0
.meta-name 
	margin 1em 0	
//archive							

.archive-item
	padding .5rem 0
	margin 10px 0
	&>.archive-time		
		width 25%
		margin-right 10px
		font-size 13px
	&>.archive-title
		width 75%
		& a
			font-size 15px

.cate-inner
	margin 0 .5rem 1rem 
.cate-info
	margin-left 0
.tag-wrap 
	margin 3px 0 8px


.post-info
	text-align left 
	width 100%
	display flex
	align-items center
	flex-wrap wrap
	& *
		font-size .95rem
		margin 0 .5rem 0 0

	

.search-container	
	position fixed 
	margin 0 auto
	left 0
	top 0
	width 100%
	min-height 100%
.search-input
	width 80%
.search-cancel
	position absolute
	right 20px
	top 10px