
.paginator
	position relative
	margin 8rem 0 
	padding 0 20px
	text-align center
	font-size 0.825rem
	color $sub-clr
	height 40px
	&>.prev,&>.next	
		@extends $fade
		@extends $blod
		display inline-block
		padding 8px 10px 	
		border-radius 4px
		position absolute
		border 1px solid $line-clr
	&>.prev  
		left 2px
	&>.next  
		right 2px
	&>.page-number
		display inline-block
		min-width 80px
		height 100%
		padding 6px 2px	
		font-size 14px	
		line-height 30px
		& >strong
			font-size 16px
			color $thr-clr