@import '../_import/valine.styl'

.post-header
  padding-bottom 12px
  border-bottom 1px solid $line-clr 
.post-header-inner
    padding-left 10px
   
.post-header-inner > .post-title 
    margin-top 12px
    font-size 1.55rem
    font-weight 400 
    line-height 1.4
    color #333
    @media mq-mobile 
      margin .8rem 0
      font-size 1.6rem
.post-header-inner > .post-info
    margin-top 10px
    & > span
      color #444
      margin-right 12px


.post-content
  min-height 18vh
  margin 1rem 0 2rem  
    
//
// button
//
.donate-btn,.share-btn 
  cursor pointer
  margin 0 14px
  &:hover
      color $thr-clr
//-------------donate
#donate-box  
  fixed-center(460px,400px)  
  display none  
  padding 20px 0
  text-align center
  border-radius: 10px   
  box-shadow: 0 5px 10px 0 rgba(0,0,0,0.05) 
.donate-cancel
  position absolute
  top 12px
  right 24px
  width 12px  
  font-size 18px
.donate-img-box
  width 260px
  margin 0 auto
.donate-img
  margin-top 0
.donate-word
  display inline-block 
  font-size .9rem
.donate-list 
  margin-top 20px
  height auto
//----- donate js
.donate-active
  color $thr-clr
//-------------share
.-mob-share 
  fixed-center(340px,240px)  
  display none    
  border-radius 10px  
  overflow hidden 
  box-shadow 0 5px 10px 0 rgba(0,0,0,0.05)
  
.-mob-share 
  & >.-mob-inner
    width 100%
    height 100%
    list-style none
    display flex
    justify-items center
    align-items center
    word-wrap wrap
    &> .-mob-share-link 
      width 33%
      height 25%
      font-size 1.28rem 
      cursor pointer
      &:hover
        color $thr-clr 

// rewrite
.-mob-share-weixin-qrcode-bg    
   background-color rgba(0,0,0,.003) !important 
.-mob-share-weixin-qrcode-content
   border 1px solid $line-shallow-clr  !important

.post-footer
  overflow hidden
  padding 12px 0
  border-bottom 1px solid $line-shallow-clr 
.post-footer-meta 
  float left
  & > a
    @extend $item
.post-footer-other
  float right
  &>.post-footer-item
    padding 4px 2px
    height 22px
    line-height 22px
    text-align center
    border-radius 4px
    margin-right .5rem
    border 1px solid $line-shallow-clr 
    transition all .25s ease-in-out 
    cursor pointer

    
 
.post-footer-other,.post-footer-meta 
  @media mq-mobile
    float left
    clear both
    margin-bottom 0.5rem
.post-footer-other
  @media mq-mobile
    float right
.post-footer-meta 
  @media mq-mobile
    float left

.post-footer-nav
  overflow hidden
  padding 4rem 0 5rem

.post-footer-link
  width 46%
  margin 0 2%
  float left
  @media mq-mobile
    width 48%
    margin 0 1%

.post-nav-link-wrap
  display block
  padding 14px 6px
  text-decoration none
  text-shadow 0 1px #fff
  text-align center
  border 1px solid $line-shallow-clr 
  border-radius 4px
  box-shadow rgba(116, 129, 141, 0.05) 0px 2px 4px 0px
  transition border 0.3s ease-in-out
  &:hover
      border 1px solid $thr-clr 
  @media mq-normal
    width 50%
    margin-top 0

.post-nav-caption
  text-transform uppercase
  letter-spacing 2px
  line-height 1rem
  font-weight bold
  color $gray-clr 

.post-nav-title
  @extend $oneline
  display block
  text-align center
  font-size 0.8rem
  margin-top 0.5rem