.search-container
	display none
	position fixed
	left 50%
	top 80px
	z-index 999
	width 740px
	max-height 620px
	margin-left -370px
	overflow-x hidden
	overflow-y auto	
	box-sizing content-box
	background-color $bgr
	border 1px solid $line-clr 
	border-radius 4px   
	box-shadow 0 5px 10px 0 rgba(0,0,0,0.05)
	& .search-header
		margin 0 16px
		height 60px
		line-height 60px  
		position: relative
		& .search-input	
			caret-color #000
			padding 6px 12px
			width 95%
			height 42px
			border none
			font-size 0.85rem
			color rgba(0,0,0,.75)
			background-color $bgr
			border-bottom 1px solid $line-clr 
			outline none     
		& .search-cancel
			height 42px
			&>i
				font-size 22px
	& .search-result
		padding 16px 12px
		margin 3px 0	
		height auto
		overflow hidden
	& .search-item
		margin 16px 4px 14px 4px	
		border-bottom 1px solid $line-clr 
		& .search-title
			@extend $oneline
			display block
			font-size 1rem
			padding-left 12px	
		& .search-content	
			@extend $oneline
			padding 8px 12px 16px 12px
			font-size .825rem
			color rgba(0,0,0,.7)			
		& .search-keyword
			font-size 0.9rem
			color $thr-clr	

& .search-empty
	margin 30px 0
	font-size 1.1rem
	text-align center