.toc-sidebar
 display none    
.toc-title
 display block
 padding 0.5rem 0 
 text-align center
 font-size .9rem
 color rgba(0,0,0,.7)
 cursor pointer
 font-weight 600
 position relative
 transition all .5s ease-in-out
 &:hover
  color $thr-clr
  &:after
   background-color $thr-clr
 &:after
   position absolute
   content  " "
   width 30%
   height 3px 
   left 35%
   bottom 0
   background-color #f0f0f0



.toc-list
 margin 16px 0 0 15px
 list-style-type none
 & ol,& ul
  list-style-type none

.toc-inner
  margin-left 0
	& ol>li,& ul>li
    padding-left 14px

.toc-text
 font-size .75rem 
 color rgba(0,0,0,.7)
.toc-child > .toc-text
 font-size .7rem
 margin-left .2rem
 color rgba(0,0,0,.65)
.toc-inner-item
  margin-bottom .3rem
.toc-inner-child
  margin-left 4px
.toc-container
  position absolute
  width 250px   
  height 100%
  top 16%
  left 79%  
  @media mq-mobile 
    display none !important
  @media mq-tablet
    display none !important
  @media mq-middle 
    display none !important
  @media mq-normal
    display block !important
  @media mq-desktop 
    display block !important

//----------js
.toc-fixed
 position fixed 
 top 5%
 left 79%  
.toc-active
 position relative
 &:before
   position absolute
   content " "
   width 2px
   height 60%
   top 20%
   left 0
   background-color $thr-clr
 & .toc-inner-text
  color $thr-clr !important

